/* ----------------------------------

	Rtl styles

-------------------------------------*/
body,
.owl-carousel .owl-item{
	direction: rtl;
	unicode-bidi: embed;
}

#rev_slider_1_1_wrapper,
.owl-carousel{
	direction: ltr;
}
.rtl-left {
	text-align:left !important;
}

.closed{
	right: inherit!important;
}

.header_right,
.text-right{
	text-align: left;
}

body,
.t_align_l,
.top_header_drop_down,
#menu > ul > li,
.header1 #menu,
.rich_banner .info_wrapper,
#cart .image img,
table,
#cart .content,
.mini-cart-total table,
.item.testimonial,
.grid1 .product-grid .left,
.grid1 .product-grid .price,
.product-grid .information_wrapper,
.text-left,
.product-info .image-additional li,
.attribute thead td, 
.attribute thead tr td:first-child,
.attribute td,
.attribute tr td:first-child{
	text-align: right!important;
}

.f_right,
[class*="col-xs-"],
.header_top_line .links,
.shortcuts_wrapper,
.product-filter .sort, 
.product-filter .limit,
.product-info .share .price-tax,
.close,
.header2 .shortcuts_wrapper{
	float: left;
}

.f_left,
.category_isotope_item.list_view_type figure > .relative:not(figcaption),
[class*="first_letter_"] > span,
.header_top_line .promo_message,
.header_main .logo,
#menu > ul > li,
#menu li.custom_block .menu_drop_down .column-4, 
#menu li.custom_block .menu_drop_down .column-3, 
#menu li.custom_block .menu_drop_down .column-2,
.nav-tabs>li,
.box.custom.info1 .box-single i.fa, 
.box.custom.info2 .box-single i.fa,
#powered,
.deals .button,
.grid1 .product-grid .image,
.product-info .share .addthis_toolbox,
.input-group .form-control,
.pull-left,
.header2 .header_main #search,
.header2 .drop_downs_wrapper{
	float: right;
}

.pull-right{
	float: left!important;
}

.pull-left,
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at4-icon, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs,
.addthis_default_style .addthis_counter{
	float: right!important;
}

[class*="col-"].d_table_cell{
	float: none;
}

#cart .content, 
.box .slide_arrow_prev,
.mobile_menu .plus,
.checkout .box-heading a:after,
#zoom-btn,
.box-category .sign{
	right: auto!important;
	left: 0!important;
}
.language_current img {
    margin-left: 8px;
	margin-right: 0px;
}

.rich_banner .info_wrapper span,
.box-heading:after, 
.box-heading .nav li.active:after,
.header2 .header_top_line .top_header_drop_down,
#menu ul li .menu_drop_down {
	right: 0!important;
	left: auto!important;
}

.checkout .box-heading{
	padding-right: 0;
	padding-left: 30px;
}

[class^="thumbnails_product_"]{
	right: 1px;
}

.header3 .header_top_line .links {
	text-align:left;
}


.box.custom.info1 .box-single:first-child, 
.box.custom.info2 .box-single:first-child{
	border-left: 1px solid #d7a916!important;
}

.style-1 .box.custom.info1 .box-single:first-child, 
.style-1 .box.custom.info2 .box-single:first-child{
	border-left: none!important;
}

.style-1 .box.custom.info2 .box-single:last-child{
	border-left: none
}

.style-1 .box.custom.info2 .box-single:first-child{
	border-left: 3px solid #ffffff!important;
}

.shortcut:first-child .shortcut_heading i{
	border-right: none;
}

.box.newsletter.boxed .inner .subscribe_icon{
	right: auto;
	left: 10px;
}

.box-heading{
	padding-right: 0;
	padding-left: 10px;
}

.box-content > ul > li a{
	padding-left: 0;
	padding-right: 10px;
}

.product-info .image .sale_badge{
	right: auto;
	left: 10px;
}

.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio]{
	margin-left: 0;
	margin-right: -20px;
}
.style-2 .product-grid .icons_wrapper .sq_icon.add_to_cart {
    float: left;
    margin-left: 0;
}
.style-2 .product-grid .icons_wrapper .sq_icon:first-child[data-tooltip]:before {
  -webkit-transform: translateX(-90px);
  -moz-transform: translateX(-90px);
  -ms-transform: translateX(-90px);
  -o-transform: translateX(-90px);
  transform: translateX(-90px);
}
.style-2 .product-grid .icons_wrapper .sq_icon.add_to_cart[data-tooltip]::before {
    left: -50%;
    right: auto;
}

#cboxClose{
	right: auto!important;
	left: 50px;
}

.product-info .right{
	margin-left: 0!important;
	/*margin-right: 360px!important;*/
	padding-right: 3.5%;
	padding-left: 0;
}

.product-info .image-additional .owl-controls{
	right: auto;
	left: 0;
}

.product-info > .left{
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.checkbox-inline, 
.radio-inline{
	padding-left: 0;
	padding-right: 20px;
}

.grid1 .product-grid .image{
	padding-right: 0;
	padding-left: 12px;
}

.checkout .box-heading h4:before{
	margin-right: 0;
	margin-left: 10px;
}

.product-filter .sort, 
.product-filter .limit{
	margin-left: 0;
	margin-right: 10px;
}

.product-filter .display{
	margin-right: 0;
	margin-left: 5px;
}

.product-info .image-additional{
	padding-right: 0;
	padding-left: 30px;
}

.product-info .image-additional li{
	margin-right: 0;
	margin-left: 10px;
}

.product-list .information_wrapper{
	padding-left: 0;
	padding-right: 30px;
}

.box.custom.info1.column-4 .box-single:first-child i.fa{
	margin-right: auto;
}

#footer .column ul li .fa{
	margin-right: 0;
	margin-left: 10px;
}

.fa-caret-right:before{
  content: "\f0d9";
}

.deals .info{
	padding: 3px 20px 0 0;
}

.checkbox label,
.radio label{
	padding-left: 0;
	padding-right: 20px;
}

.button i,
.product-info .cart .icon.plus{
	margin-right: 0;
	margin-left: 5px;
}

.box.custom.info1 .box-single:first-child{
	padding-left: 15px;
	padding-right: 0;
}

.product-info .review a + a{
	border-left: none;
	border-right: 1px solid #cccccc
}

.product-info .cart .icon.minus{
	border-left: none;
	border-right: 1px solid #e4e4e4;
}

.product-info .cart .icon.plus{
	border-left: 1px solid #e4e4e4;
	border-right: none;
}

.box.custom.info2.column-1 .box-single{
	border-left: none!important;
}

.product-info .review a{
	padding: 0px 7px 0px 4px;
}

#menu > ul > li i{
	margin-left: 0;
	margin-right: 9px;
}

.box.custom.info2 .box-single{
	padding-right: 0;
	padding-left: 15px;
}

.box.custom.info1 .box-single:last-child{
	border-left: none;
	padding-left: 0;
}


#cboxNext{
	right: 20px!important;
}

#cboxPrevious{
	left: 70px!important;
}

.box.custom.info1 .box-single i.fa{
	margin: 35px 0 35px 20px;
}

.header2 .menu_wrapper{
	text-align: center!important;
}

.box.custom.info1 .box-single:first-child i.fa{
	margin-right: 0;
	margin-left: 20px;
}

a.sq_icon,
.deals .button{
	margin-right: 0;
	margin-left: 3px;
}

#cart .mini-cart-total td{
	padding-left: 0;
	padding-right: 20px;
}

.shortcut .shortcut_heading i{
	border-right: 1px solid;
	border-left: none;
	border-color: #e5e5e5;
}

.shortcut.compare .shortcut_heading i + i,
.header1 .shortcut.wishlist .shortcut_heading i, 
.header2 .shortcut.wishlist .shortcut_heading i{
	border-right: none;
}

.box-heading.product-tabs .nav li{
	margin-right: 0;
	margin-left: 33px;
}

.box .owl-controls{
	right: auto;
	left: 15px;
}

.box .slide_arrow_next{
	left: 35px;
	right: auto;
}

.box-heading.product-tabs{
	padding-right: 0;
	padding-left: 35px;
}

.nav{
	padding-right: 0;
}

.top_header_drop_down{
	right: auto;
	left: -1px;
}
.header3 .top_header_drop_down {
    right: -1px;
    left: auto;
}
.header3 .shortcuts_wrapper {
    margin-left: 0px;
	margin-right: 55px;
}
.header3 .header_main #search {
    left: 0;
    right: auto;
}
.shortcut .shortcut_heading .total{
	padding-left: 0;
	padding-right: 8px;
}

.shortcut.compare .shortcut_heading i{
	padding: 9px 16px 7px 1px;
}

.shortcut .shortcut_heading i{
	padding: 7px 15px 7px 2px;
}

[data-tooltip]:after{
	left: auto;
	right: 50%;
}

.shortcut .shortcut_heading{
	padding: 8px 0 9px 13px;
}

.header_main #search input{
	padding: 10px 10px 10px 40px;
}

.header_main .button-search, .header3 .header_main .button-search {
	right: auto;
	left: 12px;
}
.header3 .header_main #search input {
    padding-right: 10px;
}

.login_drop_heading,
.currency_current, .language_current{
	margin-left: 0;
	margin-right: 3px;
}

.login_drop_heading i{
	margin-left: 7px;
	margin-right: 0;
}

.currency_current i{
	margin-left: 0;
	margin-right: 21px;
}

.header_top_line .links a + a:last-child{
	border: none;
	margin-left: 0;
	padding-left: 0;
}

.header_top_line .links a:first-child{
	margin-left: 5px;
	padding-left: 5px;
    border-left: 1px solid #222222;
}

#home-top-right{
	padding-left: 0;
	padding-right: 30px;
}
/* One page Checkout */
.quickcheckout-content {
    text-align: right;
}
#payment-address .box-heading::before, #shipping-method .box-heading::before, #payment-method .box-heading::before, #cart1 .box-heading::before {
	margin-right:0;
	margin-left:10px;
}
#terms .quickcheckout-content {
    text-align: right !important;
	
}
#terms .quickcheckout-content input[type="checkbox"] {
    float: right !important;
    margin-left: 5px;
	margin-right: 0px;
}
#terms .quickcheckout-content .confirm {
	text-align:left !important;
}
/* popup newsletter */
.init_popup .window_holder .window_content {
    margin-right: 50%;
}
.box.newsletter.boxed.popup .inner .popup_close {
    right: auto;
	left: 11px;
}
.box.newsletter.boxed.popup .inner .popup_block .left {
    text-align: right;
    margin-left: 0px;
	margin-right: 30px;
}
.testimonials_links {
    text-align: left;
}
/* Blog */
.blog_post .blog_summary .left {
    padding: 5px 0px 0px 20px;
}
.blog_summary .left {
	padding-right:0;
	padding-left:17px;
}

@media only screen and (min-width:992px),only screen and (min-width:992px) and (orientation:portrait){
	
	[class*="col-md-"]{
		float: right;
	}
}

@media (min-width: 768px){

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: right;
	}

	.form-horizontal .control-label {
	  text-align: left;
	}

}

@media only screen and (max-width:767px){
.header3 .shortcuts_wrapper {margin-right: 0px;}
.header3 .header_top_line .links {text-align: center !important;}
	.header2 .header_main #search {
	  float: none;
	  margin-top: 0;
	}

	.header2 .shortcuts_wrapper {
	  float: none;
	}

	.product-info .right {
	  margin-left: 0px !important;
	  clear: both;
	  margin-right: 0px!important;
	  border-right: none;
	  padding: 15px 0px;
	}

	.product-info .left {
	  width: 100%;
	  max-width: 400px;
	  clear: both;
	  margin: 0px auto 10px auto;
	  float: none;
	}

	.header_right{
		text-align: center;
	}

	.box.custom.info1 .box-single:first-child,
	.box.custom.info1 .box-single{
		border-left: none!important;
		padding: 10px;
	}

	.box.custom.info1 .box-single i.fa{
		display: inline-block;
		float: none;
		margin: 15px auto 10px;
	}
	.footer_modules_wrapper, #footer {margin-left: 0px;}
#footer .column, .footer_modules_wrapper .box {padding-left:0;}

}