/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*
* Custom
*/

@import "partials/variable";
@import "partials/fonts";
@import "partials/owl.carousel.scss";
@import "partials/sv_icons.scss";
@import "partials/magnific-popup.scss";
@import "partials/sprite.scss";

body {
	font-family: "gotic";
	letter-spacing: 0.5px;
	overflow-x: hidden;

}

a {
	transition: all .2s ease-in;
	display: inline-block;
	color: #000;

	&:hover {
		color: #797777;
	}
}


.footer a {
	transform: translateX(0);

	&:hover {
		transform: translateX(6px);
	}
}

.container,
.breadcrumb {
	width: 1440px;
	max-width: 1440px;
	margin: 0 auto;
	background-color: transparent;

}


.button i {
	font-size:16px;
	margin-right:5px;
}



.flex {
	display: flex;
	align-items: center;
	i{
		margin-right: 5px;
	}
}

[class^="icon-"] {
	display: inline-block;
}


.icon-phone {
	@include sprite($phone);
}
.icon-cart {
	@include sprite($cart);
}
.icon-man {
	@include sprite($man);
}
.icon-search {
	@include sprite($search);
}

.first-frame {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #fff;

	img {
		height: 100vh;
		width: auto;
	}

	&__countries {
		flex-grow: 1;
		font-family: "gotic";
		font-size: 16px;
	}

	&__title {
		padding: 50px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		color: #0a0a0a;
	}

	&__list {
		position: relative;
		max-height: 60vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		padding: 50px 80px;

		&-li {
			max-width: 25%;
		}

		&-item {
			margin-bottom:  20px;
			color: #000;
			transform: translateX(0);
			width: 20%;

			&:after {
				content: "";
				right: calc(100% + 5px);
				top: calc(50% - 2px);
				width: 4px;
				height: 4px;
				border-radius: 50%;
				position: absolute;
				background-color: #797777;
				transition: all .2s ease-in;
				transform: translateX(-4px);
				opacity: 0;
			}

			&:hover {
				transform: translateX(6px);
				color: #797777;

				&:after{
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}
}

.header {
	background-color: #ededed;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
		font-family: "gotic";
		font-size: 13px;

		.language_current  {
			a {
				font-family: "gotic";
			}
		}
	}

	&__group {
		display: flex;

		& > *{
			margin-right: 15px;
		}
	}

	&__register {
		a {
			margin-left: 20px;
		}
	}

	&__delivery {
		display: inline-block;
		align-items: center;
		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.logo {
	font-size: 13px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		margin-bottom: 10px;
		display: inline-block;
	}
}

.menu_holder {
	display: flex;
	justify-content: space-between;
}

.header-wrap {
	padding: 104px 15px 20px;
}

.only_desktop {
	position: relative;

	.wrapper-image {
		height: 300px;
		img {
			width: auto;
			height: 100%;
		}
	}
}

.menu_drop_down {
	left: 0;
	width: 925px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		position: relative;

		& > ul {
			width: 186px;

			.third {
				height: 100%;
				border-left: 2px solid #e8e8e8;
			}
		}
	}
}

.service-block {
	display: flex;
	align-items: center;
	top: 60px;
	right: 0;
	position: absolute;
	z-index: 200;

	&__item + &__item {
		margin-left: 28px;
		padding: 4px;
	}

	.shortcut_heading {
		display: flex;
		align-items: center;
	}

	&._no-fixed {
		position: static;
	}
}

.logo2 {
	display: none;
}

.header_wrapper .menu_wrapper {

	.service-block {
		display: none;
	}
}

.header_wrapper.sticky_menu.sticky.header1 .menu_wrapper, .header_wrapper.sticky_menu.sticky.header2 .menu_wrapper {
	padding: 10px 15px;
	border-bottom: 2px solid rgb(237, 237, 237);

	.menu_holder {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	img {
		width: 165px;
		height: auto;
	}

	.logo2,
	.service-block {
		display: flex;
	}
}

.search-block {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 40px 48px 82px 48px;

	&:after,
	&:before {
		content:"";
		height: 100%;
		background-color: #fff;
		position: absolute;
		top: 0;
		width: 50vw;
	}

	&:after {
		left: 100%;
	}

	&:before {
		right: 100%;
	}

	#search {
		margin: 0 auto;
		width: 900px;

		input {
			width: 100%;
			border: 0;
			border-radius: 0;
			border-bottom: 1px solid #000;
			letter-spacing: 0;
			padding: 0 0 10px 0;
			box-shadow: none;
			font-size: 35px;
			background-color: #fefefe;

			&:focus,
			&:active {
				box-shadow: none !important;
				outline: none !important;
			}
		}
	}
}

.box.newsletter {
	margin-bottom: 0 !important;

	
	.box-content {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		p {
			font-family: "Helvetica";
			font-size: 16px;
			max-width: 50%;
			width: 50%;
			margin-right: 50px;
			margin-bottom: 0;
		}

		input {
			font-size: 13px;
			padding-left: 7.25px;
			padding-right: 7.25px;
			height: 29px;
			width: 290px;
			min-width: 290px;
			border-radius: 0;
			margin-right: 30px;
		}

		button {
			width: 162px;
			height: 35px;
		}
	}
}

.footer {
	background-color: #f7f7f7;
	padding-bottom: 0 !important;

	a {
		font-size: 12px;
	}

	.box-heading {
		text-transform: uppercase;
		font-size: 12px;
		color: #000;
		font-weight: bold;
	}

	&__icons {
		margin-top: 10px;
		margin-bottom: 30px;
		a {
			font-size: 20px;
			margin: 0px 9px;

			&:hover {
				transform: translate(0, -4px);
			}
		}
	}

	&__phone {
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			color: #0a0a0a;
			font-weight: bold;
		}

		a {
			font-size: 19px;
			line-height: 30px;

			&:hover {
				transform: translate(0);
			}
		}
	}
}

.bottom_line {
	background-color: #f7f7f7;

	&__container {
		padding: 25px 0;
		border-top: 1px solid #000;
		text-align: center;
		color: #000;
		font-size: 14px;
		text-transform: uppercase;
	}
}


.banners {

	&__container {

	}

	&__item {
		background-color: #f4f4f4;
		margin-bottom: 40px;

		&-img {
			a {
				display: inline-block;
				overflow: hidden;
				background-color: #000;

				&:hover img {
					transform: scale(1.1);
					opacity: 0.7;
				}
			}

			img {
				transition: all .2s ease;

			}
		}

		&-button{
			a {
				min-width: 250px;
				text-align: center;
				&:hover {
					background-color: #fff;
				}
			}
		}

		&-title {
			font-size: 48px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&:nth-child(1) &,
		&:nth-child(4) & {

			&-subtitle {
				font-size: 24px;
				margin-bottom: 30px;
			}

			&-info {
				padding: 20px;
				text-align: center;
			}

			&-img {
				a {
					width: 100%;
				}

				img {
					width: 100%;
					height: auto;
					transition: all .2s ease-in;
				}
			}
		}

		&:nth-child(2),
		&:nth-child(3) {
			display: flex;
			padding: 55px;
		}

		&:nth-child(2) &,
		&:nth-child(3) & {

			&-info {
				flex-grow: 1;
				flex-direction: column;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding-left: 20px;
			}
		}

		&:nth-child(3) {
			flex-direction: row-reverse;
		}
	}
}


.popup-countries {
	padding: 50px;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	background-color: #fff;
	position: relative;
	max-width: 1500px;
	margin: 0 auto;

	&__header {
		padding: 0 20px 50px 20px;
		text-align: center;
		color: #0a0a0a;
		font-size: 16px;
	}

	&__items {
		list-style-type: none;
		padding: 20px 25px;
		margin: 0;
		border-top: 1px solid #e5e5e5;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 550px;
		align-items: center;
	}

	&__item {
		margin-bottom: 20px;
		
		img {
			height: 21px;
			width: auto;
			margin-right: 4px;
		}

		a {
			font-size: 16px;
			transform: translateX(0);

			&:hover {
				transform: translateX(6px);
			}
		}
	}	
}

.product-grid {

	.information_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transform: translateY(-90px);
		transition: all .4s ease-in;
	}

	.name {
		font-size: 13px;
		text-transform: uppercase;
	}

	.price {
		text-align: center;
		display: flex;
		justify-content: center;
		font-size: 12px;
		color: #000;	    
		
		&-new,
		&-old {
			    font-size: 12px;
			    color: grey;
		}

		&-new {
			color: #000;
		}

		& > * {
			margin: 0 4px;
		}
	}

	.image {
		&:hover + .information_wrapper {
			transform: translateY(-65px);
			opacity: 0;
		}
	}
}

#filter_categories {
	position: relative;
	height: 150px;
}

.box.filter_holder {
	width: 100%;
	
	#adv_ajaxfilter {
		display: flex;
		justify-content: center; 
	}

	.option_name {
		font-size: 12px;
		color: #000;
		font-weight: bold;
		margin-bottom: 15px; 
	}

	.option_box {
		margin: 0 30px;
		width: 200px;
		text-align: center;

		input[type='checkbox'] {
			opacity:0;
			position: absolute;
			pointer-events: none;

			&:checked + label {
				color: #2a4f2a;
				text-shadow: 0 0 7px rgba(0,0,0,0.5);
			}
		}

		label {
			font-weight: normal;
			color: #0a0a0a;
			font-size: 10px;
			text-transform: uppercase;
			display: block;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}



}

.sort-comp {
	position: relative;

	&__header{
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			text-transform: uppercase;
			font-size: 14px;
			margin: 0 30px;
			color: #0a0a0a;
			display: inline-flex;
			align-items: center;

			&:hover {
				span {
					transform: translateX(4px);
				}
			}

			span {
				font-size: 20px;
				margin-left: 5px;
				transform: translateX(0);
				transition: all .2s ease-in;
			}
		}
	}

	&__sort {
		display: none;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 30px;
		width: 100%;
		position: absolute;
		background-color: #fff;
		top: 100%;
		left: 0;
		z-index: 5;

		&.active {
			display: flex;
		}

		a {
			font-size: 16px;
			transform: translateX(0);

			&._active,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__filter {
		display: none;
		padding: 30px;
		width: 100%;
		position: absolute;
		background-color: #fff;
		top: 100%;
		left: 0;
		z-index: 5;

		&.active {
			display: flex;
		}
	}

	.clear_filter {
		text-align: center;
	}
}

#slider-range {
	position: relative;
	height: 5px;
	border-radius: 3px;
	padding: 1px;
	background: #ededed;
	margin-top: 10px; 

	div {
		height: 3px;
		background-color: #665353;
		position: absolute;
		left: 0;
		width: 100%;
		top: 1px;
	}

	span {
		border-radius: 50%;
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		background-color: #010;
		top: calc(50% - 5px);
		cursor: pointer;

		&:first-child {

		}
	}
}

@import "partials/media.scss";
