.page-banner-asset-cell {
    position: relative;
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
}
.page-banner-asset-cell .cell-placeholder-1-5 {
    position: relative;
}
.page-banner-asset-cell .cell-placeholder-1-5:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 20%;
}
.cell-asset-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    -moz-background-size: cover;
    background-size: cover;
}
.page-banner-asset-cell img {
    width: 100%;
    height: auto;
    min-height: 100%;
}