.page-banner-asset-cell {
    position: relative;
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
}
h1.page-banner-asset-title {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    color: #fff;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: gotic, sans-serif;
}
.page-banner-asset-cell .cell-placeholder-1-5 {
    position: relative;
}
.page-banner-asset-cell .cell-placeholder-1-5:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 20%;
}
.cell-asset-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #f4e6e6;
    background-image: url(/image/account.png);
}
.page-banner-asset-cell img {
    width: 100%;
    height: auto;
    min-height: 100%;
}
.login-form{
    position: relative;
    display: table-cell;
    width: 50%;
    padding: 44.5px 48px 48px;
    background: #f7f7f7;
    text-align: left;
    vertical-align: top;
}
.login-form-header{
    color: #171717;
}
.login-form-header:before, .login-form-header:after {
    content: " ";
    display: table;
    border-collapse: collapse;
}
.login-form-header .login-form-name{
    font-weight: 700;
    font-size: 14px;
    font-family: gotic, Sans-serif;
}
.login-form-description {
    font-size: 14px;
    font-family: gotic, Sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    margin-top: 27px;
    margin-bottom: 18.5px;
}
.my-container {
    padding-top: 64px;
    padding-bottom: 64px;
}
.my-container input {
    padding: 12px;
    border: 1px solid #b5b5b5;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}
.my-container input.button.login-form-button, .acount-shop-button, 
a.btn.btn-primary.login-form-button, input.btn.btn-primary.login-form-button, .acount-information-col-edit a.login-form-button {
    opacity: 0.75;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    overflow: hidden;
    min-width: 132px;
    height: 45px;
    padding: 0 12px;
    border: 1px solid #171717;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    color: #fff;
    background: #171717;
    text-align: center;
    -webkit-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    cursor: pointer;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0px;
}
.my-container input.button.login-form-button:hover, .acount-shop-button:hover, .acount-information-col-edit a.login-form-button:hover,
a.btn.btn-primary.login-form-button:hover, input.btn.btn-primary.login-form-button:hover {
    opacity: 0.999;
    border-color: #666;
}
.pull-right input.btn.btn-primary.login-form-button, .acount-information-col-edit a.login-form-button{
    margin-left: 45px;
    color: #171717;
    background: transparent;
    padding: 10px 25px;
    text-transform: none;
}
.pull-right input.btn.btn-primary.login-form-button:hover, .acount-information-col-edit a.login-form-button:hover{
    background: #171717;
    color: #fff;
}
.acount-information-col-edit input.btn.btn-primary.login-form-button{
    padding: 10px 25px;
}
a.btn.btn-primary.login-form-button{
    padding: 10px 12px;
    text-transform: none;
    font-family: gotic, sans-serif;
    font-size: 14px;
    margin-top: 25px;padding: 10px 12px;
}
.my-container.sp-container{
    padding-bottom: 0px;
}
a.pull-right.login-forgotten {
    color: #000;
    text-decoration: underline;
    font-family: gotic, sans-serif;
}
.login-form-container label {
    text-transform: none;
    font-family: gotic, sans-serif;
}
.login-form-req {
    position: absolute;
    top: 61px;
    right: 48px;
}
.account-welcome{
    margin-bottom: 35.5px;
}
.account-header{
    text-align: center;
}
.account-menu h2{
    font-weight: 700;
    font-family: gotic, sans-serif;
    word-spacing: normal;
}
.account-logout{
    color: #666;
    font-family: gotic, sans-serif;
    letter-spacing: .01em;
    position: relative;
    top: -1px;
    margin-left: 36px;
    vertical-align: middle;
}
.account-logout:after {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-top: -6px;
    border-bottom: 1px solid;
    color: inherit;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out, -o-transform .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out, transform .5s ease-in-out, -moz-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -moz-transform .5s ease-in-out, -o-transform .5s ease-in-out;
}
.account-logout:hover {
    color: #171717;
}
.account-heading_text{
    font-family: gotic, sans-serif;
    letter-spacing: .01em;
    margin-bottom: 35px;
}
.account-menu ul{
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
}
.account-menu ul li{
    display: inline-block;
    margin-left: 36px;
    padding: 0 12px 17.5px;
}
.account-menu ul li:first-child {
    margin-left: 0;
}
.account-menu ul li a{
    font-family: gotic, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.acount-information {
    display: flex;
    justify-content: space-between;
    table-layout: fixed;
    width: 100%;
    margin: -10px 0px 40px;
}
.acount-information-col {
    display: table-row;
    background-color: #f7f7f7;
}
.acount-information .acount-information-col{
    position: relative;
    display: table-cell;
    padding-top: 41px;
    background-color: #f7f7f7;
    padding-left: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
}
.acount-information h4{
    font-family: gotic, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .01em;
    text-transform: uppercase;
}
.acount-description{
    font-family: gotic, sans-serif;
    font-size: 12px;
}
.acount-shop-button {
    bottom: 24px;
    position: absolute;
    right: 25%;
    left: 25%;
    padding: 10px;
}
.empty-cell-description {
    padding-bottom: 62.5px;
}
.account-header-link{
    position: absolute;
    top: 0;
    right: 0;
    font-family: gotic, sans-serif;
    font-size: 11px;
}
.cell-header {
    position: relative;
}
ul.detail-set, .acount-information-col-wish{
    list-style: none;
    padding: 0;
    font-family: gotic, sans-serif;
    font-size: 12px;
}
li.detail {
    display: flex;
    font-size: 11px;
    line-height: 1.7;
}
.detail-name.l3 {
    font-weight: 600;
}
.detail-value {
    padding-left: 5px;
}
.acount-information-col-wish{
    text-align: center;
}
.acount-information-wishlist {
    background-color: #f7f7f7;
    justify-content: center;
}
.section-edit{
    list-style: none;
}
.section-edit li{

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.section-edit li a{
    font-weight: 700;
    font-family: gotic, sans-serif;
    position: relative;
    color: #666;
    letter-spacing: .01em;
    text-transform: uppercase;
    font-size: 12.9px;
}
.section-edit li a:hover{
    color: #171717;
}
.acount-information.acount-information-edit {
    background-color: #f7f7f7;
    justify-content: center;
    padding-top: 41.5px;
    padding-right: 48px;
    padding-left: 48px;
    background-color: #f7f7f7;
    padding-bottom: 84px;
}
.edit-details{
    font-family: gotic, sans-serif;
    position: relative;
    color: #666;
    letter-spacing: .01em;
    font-size: 12.9px;
    margin-bottom: 15px;
    color: #000;
}
.acount-information-col-edit{
    padding-top: 0px;
    background-color: #f7f7f7;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.acount-information-col-edit .form-horizontal .control-label {
    text-align: left;
    font-family: gotic, sans-serif;
    position: relative;
    letter-spacing: .01em;
    font-size: 12.9px;
    margin-bottom: 15px;
    text-transform: none;
    padding: 7px 0px;
    font-weight: 700;
    color: #000;
}
.acount-information-col.acount-information-col-edit {
    padding: 0px;
}
.acount-information-col-edit .form-horizontal .form-group {
    margin-left: 0px;
}
.acount-information-edit .buttons {
    display: flex;
    justify-content: flex-start;
}
input.btn.btn-primary.login-form-button{
    font-family: gotic, sans-serif;
    color: #fff;
    letter-spacing: .01em;
    font-size: 12.9px;
    text-transform: none;
    padding: 7px 25px;
    min-width: 157px;
}
.acount-information-col-edit h5{
    margin: 15px 0px;
}
.acount-information-col-edit .login-form-req{
    top: 15px;
    right: 0px;
}
.pass-container {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    margin-top: 15px;
}










@media (min-width: 1500px){
    .my-container {
        padding-top: 84px;
        padding-bottom: 84px;
    }
    .col-md-4.acount-information-col {
        width: 32.33333%;
    }
}
@media screen and (min-width:319px) and (max-width: 480px){
    .page-banner-asset-cell {
        margin: 25px auto;
        min-height: 110px;
    }
    .cell-asset-bg{
        background-position: left center;
        min-height: 110px
    }
    h1.page-banner-asset-title{
        font-size: 19px;
        top: 30%;
    }
    .my-container {
    padding-top: 5px;
    }
    .login-form-container__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .pull-left.login-forgotten{
        margin-top: 0px;
        font-size: 11px;
    }
    .login-form-req {
        position: relative;
        top: 0px;
        right: auto;
        font-size: 10px;
        margin: 10px 0;
    }
    .login-form-description {
        margin: 5px 0px;
        font-size: 12px;
    }
    .login-form-container .buttons .pull-right{
        float: left!important;
    }
    .login-form-container .buttons {
        display: flex;
        justify-content: center;
    }
    .login-form {
        padding: 20.5px 15px 18px;
    }
    .account-menu ul {
        display: block;
        margin: 0;
        padding: 0 10px;
        float: left;
        text-align: center;
        width: 100%;
    }
    .account-menu ul li:first-child {
        margin-left: 7px;
    }
    .account-menu ul li {
        display: block;
        margin-left: 7px;
        padding: 0 0px 5.5px;
    }
    .account-menu ul li a {
        font-size: 11px;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
    }
    .acount-information .acount-information-col {
        display: block;
        padding: 10px 20px;
        float: left;
        margin: 0;
        background-color: #f7f7f7;
        margin: 0px 0px 5px;
    }
    .acount-shop-button {
        bottom: 11px;
    }
    .account-header-link {
        position: relative;
        margin: 0px 0px 5px;
        text-decoration: underline!important;
    }
    .account-logout {
        position: relative;
        top: 5px;
        margin-left: 0px;
        display: block;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
        top: 0;
        width: 100%;
        background: #f7f7f7;
        padding: 0 !important;
    }
    .edit-col-menu {
        background: #f7f7f7;
        padding: 15px 0;
    }
    .section-edit {
        list-style: none;
        padding: 0 10px;
    }
    .acount-information-edit .buttons {
        display: block;
        text-align: center;
        float: left;
        width: 100%;
    }
    .acount-information-edit .buttons .pull-left, .acount-information-edit .buttons .pull-right{
        float: left !important;
        margin: 5px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .pull-right input.btn.btn-primary.login-form-button, .acount-information-col-edit a.login-form-button {
        margin-left: 0px;
    }
    .acount-information-col-edit input.btn.btn-primary.login-form-button {
        padding: 10px 0px;
        margin: 0;
    }
    .account-welcome .h2 {
        font-size: 17px;
        font-weight: 600;
    }
    .account-welcome .h2 {
        font-size: 17px;
        font-weight: 600;
    }
    .section-edit li a{
        font-size: 10.9px;
    }
    .section-edit li {
        margin-bottom: 5px;
    }    
    .login-form-header .login-form-name {
        font-size: 12.9px;
    }
    .acount-information-col-edit .login-form-req {
        font-size: 11px;
    }
    .account-logout .buttons .pull-right{
        float: left !important;
    }
    .account-logout h1 {
        font-size: 22px;
    }
    .account-order .acount-information {
        display: block;
        justify-content: space-between;
        background: transparent;
        min-height: 140px;
    }
    .account-order .acount-information .acount-information-col-order{
        margin: 0px 2px 5px 0px;
    }
    .acount-information-col-edit .form-horizontal .control-label{
        font-size: 10.9px;
    }
}
@media screen and (min-width:481px ) and (max-width: 600px) {
        .page-banner-asset-cell {
        margin: 25px auto;
        min-height: 110px;
    }
    .cell-asset-bg{
        background-position: left center;
        min-height: 110px
    }
    h1.page-banner-asset-title{
        font-size: 25px;
        top: 30%;
    }
    .my-container {
    padding-top: 25px;
    }
    .login-form-container__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .pull-left.login-forgotten{
        margin-top: 0px;
        font-size: 11px;
    }
    .login-form-req {
        position: relative;
        top: 0px;
        right: auto;
        font-size: 10px;
        margin: 10px 0;
    }
    .login-form-description {
        margin: 5px 0px;
        font-size: 12px;
    }
    .login-form-container .buttons .pull-right{
        float: left!important;
    }
    .login-form-container .buttons {
        display: flex;
        justify-content: center;
    }
    .login-form {
        padding: 20.5px 15px 18px;
    }
        .account-menu ul {
        display: block;
        margin: 0;
        padding: 0 10px;
        float: left;
        text-align: center;
        width: 100%;
    }
    .account-menu ul li:first-child {
        margin-left: 7px;
    }
    .account-menu ul li {
        display: block;
        margin-left: 7px;
        padding: 0 0px 5.5px;
    }
    .account-menu ul li a {
        font-size: 11px;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
    }
    .acount-information .acount-information-col {
        display: block;
        padding: 10px 20px;
        float: left;
        margin: 0;
        background-color: #f7f7f7;
        margin: 0px 0px 5px;
    }
    .acount-shop-button {
        bottom: 11px;
    }
    .account-header-link {
        position: relative;
        margin: 0px 0px 5px;
        text-decoration: underline!important;
    }
    .account-logout {
        position: relative;
        top: 5px;
        margin-left: 0px;
        display: block;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
        top: 0;
        width: 100%;
        background: #f7f7f7;
        padding: 0 !important;
    }
    .edit-col-menu {
        background: #f7f7f7;
        padding: 15px 0;
    }
    .section-edit {
        list-style: none;
        padding: 0 10px;
    }
    .acount-information-edit .buttons {
        display: block;
        text-align: center;
        float: left;
        width: 100%;
    }
    .acount-information-edit .buttons .pull-left, .acount-information-edit .buttons .pull-right{
        float: left !important;
        margin: 5px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .pull-right input.btn.btn-primary.login-form-button, .acount-information-col-edit a.login-form-button {
        margin-left: 0px;
    }
    .acount-information-col-edit input.btn.btn-primary.login-form-button {
        padding: 10px 0px;
        margin: 0;
    }
    .account-welcome .h2 {
        font-size: 17px;
        font-weight: 600;
    }
    .section-edit li a{
        font-size: 10.9px;
    }
    .section-edit li {
        margin-bottom: 5px;
    }
    .login-form-header .login-form-name {
        font-size: 12.9px;
    }
    .acount-information-col-edit .login-form-req {
        font-size: 11px;
        top: 5px;
        position: absolute;
    }
    .account-logout .buttons .pull-right{
        float: left !important;
    }
    .account-logout h1 {
        font-size: 22px;
    }
    .account-order .acount-information {
        display: flex;
        justify-content: space-between;
        background: transparent;
        min-height: 140px;
    }
    .account-order .acount-information .acount-information-col-order{
        margin: 0px 2px 5px 0px;
    }
}
@media screen and (min-width:601px ) and (max-width: 767px) {
        .page-banner-asset-cell {
        margin: 25px auto;
        min-height: 110px;
    }
    .cell-asset-bg{
        background-position: left center;
        min-height: 110px
    }
    h1.page-banner-asset-title{
        font-size: 25px;
        top: 30%;
    }
    .my-container {
    padding-top: 25px;
    }
    .login-form-container__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .pull-left.login-forgotten{
        margin-top: 0px;
        font-size: 11px;
    }
    .login-form-req {
        position: relative;
        top: 0px;
        right: auto;
        font-size: 10px;
        margin: 10px 0;
    }
    .login-form-description {
        margin: 5px 0px;
        font-size: 12px;
    }
    .login-form-container .buttons .pull-right{
        float: left!important;
    }
    .login-form-container .buttons {
        display: flex;
        justify-content: center;
    }
    .login-form {
        padding: 20.5px 15px 18px;
    }
        .account-menu ul {
        display: block;
        margin: 0;
        padding: 0 10px;
        float: left;
        text-align: center;
        width: 100%;
    }
    .account-menu ul li:first-child {
        margin-left: 7px;
    }
    .account-menu ul li {
        display: block;
        margin-left: 7px;
        padding: 0 0px 5.5px;
    }
    .account-menu ul li a {
        font-size: 11px;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
    }
    .acount-information .acount-information-col {
        display: block;
        padding: 10px 20px;
        float: left;
        margin: 0;
        background-color: #f7f7f7;
        margin: 0px 0px 5px;
    }
    .acount-shop-button {
        bottom: 11px;
    }
    .account-header-link {
        position: relative;
        margin: 0px 0px 5px;
        text-decoration: underline!important;
    }
    .account-logout {
        position: relative;
        top: 5px;
        margin-left: 0px;
        display: block;
    }
    .acount-information {
        display: block;
        margin: 0px 0px 40px;
        top: 0;
        width: 100%;
        background: #f7f7f7;
        padding: 0 !important;
    }
    .edit-col-menu {
        background: #f7f7f7;
        padding: 15px 0;
    }
    .section-edit {
        list-style: none;
        padding: 0 10px;
    }
    .acount-information-edit .buttons {
        display: block;
        text-align: center;
        float: left;
        width: 100%;    
    }
    .acount-information-edit .buttons .pull-left, .acount-information-edit .buttons .pull-right{
        float: left !important;
        margin: 5px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .pull-right input.btn.btn-primary.login-form-button, .acount-information-col-edit a.login-form-button {
        margin-left: 0px;
    }
    .acount-information-col-edit input.btn.btn-primary.login-form-button {
        padding: 10px 0px;
        margin: 0;
    }
    .account-welcome .h2 {
        font-size: 17px;
        font-weight: 600;
    }    
    .section-edit li a{
        font-size: 10.9px;
    }
    .section-edit li {
        margin-bottom: 5px;
    }
    .login-form-header .login-form-name {
        font-size: 12.9px;
    }
    .acount-information-col-edit .login-form-req {
        font-size: 11px;
    }
    .account-logout .buttons .pull-right{
        float: left !important;
    }
    .account-logout h1 {
        font-size: 22px;
    }
    .account-order .acount-information {
        display: flex;
        justify-content: space-between;
        background: transparent;
        min-height: 140px;
    }
    .account-order .acount-information .acount-information-col-order{
        margin: 0px 2px 5px 0px;
    }    
}
@media screen and (min-width: 768px) and (max-width : 992px) {
    .login-form-container .buttons .pull-right{
        float: left!important;
    }
    .login-form-container .buttons {
        display: flex;
        justify-content: center;
    }
    .login-form {
        padding: 20.5px 15px 18px;
    }
    .acount-information .acount-information-col {
        padding: 15px;
        margin-right: 3px;
        padding-top: 0px;
    }
    .account-header-link {
        display: block;
        position: relative;
        text-decoration: underline !important;
        margin-bottom: 5px;
    }

    .login-form-header .login-form-name {
        font-size: 12.9px;
        margin-top: 0px;
    }
    .acount-information-col-edit .login-form-req {
        font-size: 11px;
        margin-top: 0px;
    }
    .acount-information-col-edit .login-form-req {
        top: 0px;
    }
    .acount-information.acount-information-edit {
        padding-right: 0px;
        padding-left: 0px;
    }
    .section-edit {
        padding-left: 0px;
    }
}

}
@media screen and (min-width: 993px) and (max-width : 1024px) {    
    .col-md-4.acount-information-col {
        width: 32.33333%;
    }
    .account-header-link {
        display: block;
        position: relative;
        text-decoration: underline !important;
        margin-bottom: 5px;
    }
}
@media screen and (min-width : 1025px) and (max-width : 1200px) {
        .col-md-4.acount-information-col {
        width: 32.33333%;
    }
    .account-header-link {
        display: block;
        position: relative;
        text-decoration: underline !important;
        margin-bottom: 5px;
    }
}
@media screen and (min-width : 1201px) and (max-width : 1499px) {
        .col-md-4.acount-information-col {
        width: 32.33333%;
    }
}
