@media only screen and (max-width : 1500px) {
	
}

@media only screen and (max-width : 992px) {

}
 
@media only screen and (max-width : 768px) {
	.header {
		display: none;
	}

	html {

		&.active {
			overflow: hidden;
		}
	}
	.mobile_menu_wrapper {
		display: block;
		/* width: 250px;
		height: 100%;
		display: block;
		position: fixed; 
		left: 0;
		top: 0;
		border-top: none;
		transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translateX(-250px); */

		&.active {
			transform: translateX(0);
		}
	}

	#cart .content {
		width: 250px;
		height: 100%;
		display: block;
		position: fixed; 
		right: 0;
		top: 0;
		border-top: none;
		transform: translate(250px, 0) !important;
		box-shadow: none;
		border-left: 1px solid #dedede;
	}

	.total-wrap {
		transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
		box-shadow: 0 0 10px rgba(0,0,0, 0.15);

		&.colapsed {
			transform: translateX(250px);
		}
		&.colapsed-reverse {
			transform: translateX(-250px);
		}
	}

	.menu_wrapper {
		display: none;
	}

	.header-wrap {
	    margin: 0;
	    padding: 0;
	    height: 44px;
	    position: fixed;
	    width: 100%;
	    z-index: 99;
	    background: #fff;
	    border-bottom: 1px solid #dedede;
	    top: 0;
	    left: 0;
	}

	.header2 .header_main .logo {
		top: 50%;
		transform: translate(-50%,-50%);

		img {
			height: 15px;
			width: auto;
		}
	}

	.header_right {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		height: 44px;
		padding: 0 15px;


		.trigger-menu {
			font-size: 20px;
		}
	}

	body > section {
		padding-top: 44px;
		/* transform: translateX(250px); */
	}

	.logo {
		span {
			display: none;
		}
	}

	.service-block {
		display: none;
	}

	.box.newsletter .box-content {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}



	.banners__item-title {
		font-size: 14px;
	}
	.banners__container{
		padding-left: 0;
		padding-right: 0;
	}


	.banners__item:nth-child(2), .banners__item:nth-child(3) {
		display: block;
		padding: 15px;
	}

	.banners__item:nth-child(2) .banners__item-info, .banners__item:nth-child(3) .banners__item-info {
		padding: 20px;
	}

	.banners__item-subtitle {
		font-size: 10px !important;
	}


	#footer.footer {

		&__container {
			display: flex;
			flex-wrap: wrap;
		}

		.column {
			width: 100%;
		}
	}

	#footer.footer .column:not(.text-center) {
		display: none; 
	}

	.grid3 .product-grid .item {
		width: 49.5%;
	}

	.product-grid .information_wrapper {
		transform: translateY(-50px);
	}

	.footer__icons {
		margin: 10px 0;
	}

	.box.newsletter .box-content p {
		color: #000000;
		letter-spacing: -0.4px;
		font-size: 11px;
		margin: 7px 0;
		text-transform: uppercase;
		width: auto;
		max-width: 100%;
	}

	.box.newsletter .box-content input {
		margin-right: 0;
		background-color: #EEEDEB!important;
		color: #181715!important;
		padding: 5px 10px!important;
		letter-spacing: 1px;
		font-size: 10px!important;
		margin-bottom: 10px;
		border: 0!important;
		box-shadow: 0 0 0!important;
		height: 39px;
		min-width: 100%;
		width: 100%;
	}

	.box.newsletter .box-content {
		text-align: left;
		align-items: flex-start;
	}

	.footer_modules.contrast {
		background-color: #fff;
	}

	.footer_modules.contrast {
		padding: 10px;
	}

	#footer{
		padding: 20px 0 10px;
	}

	#footer.footer .box-heading {
		text-transform: none;
		margin-bottom: 12px;
	}

	.pagination_holder {
		opacity: 1;
		position: absolute;
		left: 0;
		top: 0;
	}

	.breadcrumb_wrapper {
		display: none;
	}

	.sort-comp__header a {
		margin: 0;
		padding: 0 30px;

		& + a {
			border-left: 1px solid #eaeaea;
		}
	}

	.product-grid .item {
		padding: 0 5px;
	}
}

@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 360px) {
	
}