// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$buss-name: 'buss';
$buss-x: 29px;
$buss-y: 39px;
$buss-offset-x: -29px;
$buss-offset-y: -39px;
$buss-width: 32px;
$buss-height: 24px;
$buss-total-width: 111px;
$buss-total-height: 88px;
$buss-image: '/image/sprite.png';
$buss: (29px, 39px, -29px, -39px, 32px, 24px, 111px, 88px, '/image/sprite.png', 'buss', );
$car-name: 'car';
$car-x: 35px;
$car-y: 69px;
$car-offset-x: -35px;
$car-offset-y: -69px;
$car-width: 16px;
$car-height: 11px;
$car-total-width: 111px;
$car-total-height: 88px;
$car-image: '/image/sprite.png';
$car: (35px, 69px, -35px, -69px, 16px, 11px, 111px, 88px, '/image/sprite.png', 'car', );
$card-name: 'card';
$card-x: 0px;
$card-y: 39px;
$card-offset-x: 0px;
$card-offset-y: -39px;
$card-width: 29px;
$card-height: 30px;
$card-total-width: 111px;
$card-total-height: 88px;
$card-image: '/image/sprite.png';
$card: (0px, 39px, 0px, -39px, 29px, 30px, 111px, 88px, '/image/sprite.png', 'card', );
$cart-name: 'cart';
$cart-x: 97px;
$cart-y: 26px;
$cart-offset-x: -97px;
$cart-offset-y: -26px;
$cart-width: 14px;
$cart-height: 12px;
$cart-total-width: 111px;
$cart-total-height: 88px;
$cart-image: '/image/sprite.png';
$cart: (97px, 26px, -97px, -26px, 14px, 12px, 111px, 88px, '/image/sprite.png', 'cart', );
$dress-name: 'dress';
$dress-x: 70px;
$dress-y: 27px;
$dress-offset-x: -70px;
$dress-offset-y: -27px;
$dress-width: 19px;
$dress-height: 28px;
$dress-total-width: 111px;
$dress-total-height: 88px;
$dress-image: '/image/sprite.png';
$dress: (70px, 27px, -70px, -27px, 19px, 28px, 111px, 88px, '/image/sprite.png', 'dress', );
$girl-name: 'girl';
$girl-x: 36px;
$girl-y: 0px;
$girl-offset-x: -36px;
$girl-offset-y: 0px;
$girl-width: 34px;
$girl-height: 39px;
$girl-total-width: 111px;
$girl-total-height: 88px;
$girl-image: '/image/sprite.png';
$girl: (36px, 0px, -36px, 0px, 34px, 39px, 111px, 88px, '/image/sprite.png', 'girl', );
$info-name: 'info';
$info-x: 0px;
$info-y: 69px;
$info-offset-x: 0px;
$info-offset-y: -69px;
$info-width: 19px;
$info-height: 19px;
$info-total-width: 111px;
$info-total-height: 88px;
$info-image: '/image/sprite.png';
$info: (0px, 69px, 0px, -69px, 19px, 19px, 111px, 88px, '/image/sprite.png', 'info', );
$mail-name: 'mail';
$mail-x: 19px;
$mail-y: 69px;
$mail-offset-x: -19px;
$mail-offset-y: -69px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 111px;
$mail-total-height: 88px;
$mail-image: '/image/sprite.png';
$mail: (19px, 69px, -19px, -69px, 16px, 12px, 111px, 88px, '/image/sprite.png', 'mail', );
$man-name: 'man';
$man-x: 0px;
$man-y: 0px;
$man-offset-x: 0px;
$man-offset-y: 0px;
$man-width: 36px;
$man-height: 39px;
$man-total-width: 111px;
$man-total-height: 88px;
$man-image: '/image/sprite.png';
$man: (0px, 0px, 0px, 0px, 36px, 39px, 111px, 88px, '/image/sprite.png', 'man', );
$mobile-name: 'mobile';
$mobile-x: 97px;
$mobile-y: 38px;
$mobile-offset-x: -97px;
$mobile-offset-y: -38px;
$mobile-width: 10px;
$mobile-height: 15px;
$mobile-total-width: 111px;
$mobile-total-height: 88px;
$mobile-image: '/image/sprite.png';
$mobile: (97px, 38px, -97px, -38px, 10px, 15px, 111px, 88px, '/image/sprite.png', 'mobile', );
$model-name: 'model';
$model-x: 89px;
$model-y: 27px;
$model-offset-x: -89px;
$model-offset-y: -27px;
$model-width: 8px;
$model-height: 23px;
$model-total-width: 111px;
$model-total-height: 88px;
$model-image: '/image/sprite.png';
$model: (89px, 27px, -89px, -27px, 8px, 23px, 111px, 88px, '/image/sprite.png', 'model', );
$percents-name: 'percents';
$percents-x: 70px;
$percents-y: 0px;
$percents-offset-x: -70px;
$percents-offset-y: 0px;
$percents-width: 27px;
$percents-height: 27px;
$percents-total-width: 111px;
$percents-total-height: 88px;
$percents-image: '/image/sprite.png';
$percents: (70px, 0px, -70px, 0px, 27px, 27px, 111px, 88px, '/image/sprite.png', 'percents', );
$prize-name: 'prize';
$prize-x: 97px;
$prize-y: 0px;
$prize-offset-x: -97px;
$prize-offset-y: 0px;
$prize-width: 14px;
$prize-height: 13px;
$prize-total-width: 111px;
$prize-total-height: 88px;
$prize-image: '/image/sprite.png';
$prize: (97px, 0px, -97px, 0px, 14px, 13px, 111px, 88px, '/image/sprite.png', 'prize', );
$triangle-name: 'triangle';
$triangle-x: 97px;
$triangle-y: 13px;
$triangle-offset-x: -97px;
$triangle-offset-y: -13px;
$triangle-width: 13px;
$triangle-height: 13px;
$triangle-total-width: 111px;
$triangle-total-height: 88px;
$triangle-image: '/image/sprite.png';
$triangle: (97px, 13px, -97px, -13px, 13px, 13px, 111px, 88px, '/image/sprite.png', 'triangle', );
$uhod-name: 'uhod';
$uhod-x: 70px;
$uhod-y: 55px;
$uhod-offset-x: -70px;
$uhod-offset-y: -55px;
$uhod-width: 24px;
$uhod-height: 13px;
$uhod-total-width: 111px;
$uhod-total-height: 88px;
$uhod-image: '/image/sprite.png';
$uhod: (70px, 55px, -70px, -55px, 24px, 13px, 111px, 88px, '/image/sprite.png', 'uhod', );
$spritesheet-width: 111px;
$spritesheet-height: 88px;
$spritesheet-image: '/image/sprite.png';
$spritesheet-sprites: ($buss, $car, $card, $cart, $dress, $girl, $info, $mail, $man, $mobile, $model, $percents, $prize, $triangle, $uhod, );
$spritesheet: (111px, 88px, '/image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
