// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 0px;
$arrow-offset-x: 0px;
$arrow-offset-y: 0px;
$arrow-width: 29px;
$arrow-height: 19px;
$arrow-total-width: 63px;
$arrow-total-height: 36px;
$arrow-image: '/image/sprite.png';
$arrow: (0px, 0px, 0px, 0px, 29px, 19px, 63px, 36px, '/image/sprite.png', 'arrow', );
$cart-name: 'cart';
$cart-x: 29px;
$cart-y: 0px;
$cart-offset-x: -29px;
$cart-offset-y: 0px;
$cart-width: 17px;
$cart-height: 17px;
$cart-total-width: 63px;
$cart-total-height: 36px;
$cart-image: '/image/sprite.png';
$cart: (29px, 0px, -29px, 0px, 17px, 17px, 63px, 36px, '/image/sprite.png', 'cart', );
$cart2-name: 'cart2';
$cart2-x: 0px;
$cart2-y: 19px;
$cart2-offset-x: 0px;
$cart2-offset-y: -19px;
$cart2-width: 17px;
$cart2-height: 17px;
$cart2-total-width: 63px;
$cart2-total-height: 36px;
$cart2-image: '/image/sprite.png';
$cart2: (0px, 19px, 0px, -19px, 17px, 17px, 63px, 36px, '/image/sprite.png', 'cart2', );
$man-name: 'man';
$man-x: 17px;
$man-y: 19px;
$man-offset-x: -17px;
$man-offset-y: -19px;
$man-width: 17px;
$man-height: 17px;
$man-total-width: 63px;
$man-total-height: 36px;
$man-image: '/image/sprite.png';
$man: (17px, 19px, -17px, -19px, 17px, 17px, 63px, 36px, '/image/sprite.png', 'man', );
$phone-name: 'phone';
$phone-x: 46px;
$phone-y: 0px;
$phone-offset-x: -46px;
$phone-offset-y: 0px;
$phone-width: 17px;
$phone-height: 17px;
$phone-total-width: 63px;
$phone-total-height: 36px;
$phone-image: '/image/sprite.png';
$phone: (46px, 0px, -46px, 0px, 17px, 17px, 63px, 36px, '/image/sprite.png', 'phone', );
$search-name: 'search';
$search-x: 46px;
$search-y: 17px;
$search-offset-x: -46px;
$search-offset-y: -17px;
$search-width: 17px;
$search-height: 17px;
$search-total-width: 63px;
$search-total-height: 36px;
$search-image: '/image/sprite.png';
$search: (46px, 17px, -46px, -17px, 17px, 17px, 63px, 36px, '/image/sprite.png', 'search', );
$spritesheet-width: 63px;
$spritesheet-height: 36px;
$spritesheet-image: '/image/sprite.png';
$spritesheet-sprites: ($arrow, $cart, $cart2, $man, $phone, $search, );
$spritesheet: (63px, 36px, '/image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
